*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(253, 135, 154);
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.form h2{
    margin-bottom: 30px;
}
.form p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.form input{
    width: 90%;
    height: 70%;
    border: none;
    background: rgb(216, 215, 215);
    padding: 10px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin: 0;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin: 0;
}
.form select{
    width: 98%;
    height: 70%;
    border: none;
    background: rgb(216, 215, 215);
    padding: 10px; 
    color: grey; 
    outline: none;
}
.form button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: rgb(253, 135, 154);
}
button a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 15px;
}
button:hover{
    background: rgb(167, 165, 165);    
}
.form1{
    background: rgb(231, 230, 230);
    margin: 30px;
    width: 23%;
    padding: 40px;
    border-radius: 10px;
}

.form2{
    background: rgb(231, 230, 230);
    margin: 30px;
    width: 20%;
    height: 15%;
    padding: 40px;
    border-radius: 10px;
}
.form3{
    background: rgb(231, 230, 230);
    margin: 30px;
    width: 23%;
    padding: 40px;
    border-radius: 10px;
}
/* form buttons */
.form1 button{
    margin-top: 70px;
}
.form2 button{
    margin-top: 20px;
}
.form3 button{
    margin-top: 30px;
}
/* media query */
@media only screen and (max-width:1200px){
    /* For Desktop */
    .form{
        display: flex;
    }
}
@media only screen and (max-width:992px){
    /* For Laptop */
    .form{
        display: flex;
    }
}
@media only screen and (max-width:767px){
    /* For Tab */
    .form{
        display: flex;
    }
}
@media only screen and (max-width:480px){
    /* For Mobile */
    .form{
        display: block;
    }
}